<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yami.springbootshiro.dao.UserDao">

    <resultMap id="userMap" type="com.yami.springbootshiro.model.User">
        <id property="uid" column="uid"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <collection property="roles" ofType="com.yami.springbootshiro.model.Role">
            <id property="rid" column="rid"></id>
            <result property="name" column="name"></result>
            <collection property="permissions" ofType="com.yami.springbootshiro.model.Permission">
                <id property="pid" column="pid"></id>
                <result property="name" column="name"></result>
                <result property="url" column="url"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="findByUsername" resultMap="userMap" parameterType="string">
        SELECT u.* ,r.*,p.* FROM USER u
            INNER JOIN user_role ur ON ur.uid = u.uid
            INNER JOIN role r ON r.rid=ur.rid
            INNER JOIN permission_role pr ON pr.pid=r.rid
            INNER JOIN permission p ON pr.pid=p.pid
         WHERE u.username = #{username}
    </select>
</mapper>